* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    font-size: 16px;
    color: #1B1A1A;
}
.primary-btn {
    background-color: transparent;
    height: 46px;
    border-radius: 14px;
    width: 155px;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    cursor: pointer;
}
.primary-btn:hover {
    background-color: #1B1A1A;
    color: #ffffff;
}
.primary-btn:active {
    transform: scale(0.97)
}
.person {
    display: flex;
    align-items: center;
}
.person .photo {
    width: 84px;
    height: 84px;
    background-image: url("./img/person.png.png");
    background-size: cover;
    margin-right: 30px;
}
.text {
    display: flex;
    flex-direction: column;
}
.text .name {
    font-size: 17px;
    line-height: 26px;
}
.text .job {
    font-size: 14px;
    line-height: 14px;
    margin-top: -3;
}

/* header */
header {
    background-color: #ffffff;
    height: 90px;
    width: 100%;
    display: flex;
    padding: 0 140px 0 152px;
    align-items: center;
}
header menu {
    display: flex;
    list-style: none;
}
header menu li {
    margin-right: 32px;
}
header menu li a {
    color: inherit;
    text-decoration: none;
}
header menu li a:hover {
    color: #474242;
}
header .logo {
    flex-grow: 1;
}
.get-template-btn {
    background-color: #1B1A1A;
    color: #ffffff;
}
.get-template-btn:hover {
    background-color: rgb(68, 62, 62);
}
/* end header */

/* start hero */
.hero {
    display: flex;
    min-height: calc(100vh - 90px);
    max-height: fit-content;
}
.hero .left {
    background-color: #ECE7E4;
    padding: 137px 111px 128px 100px;
}
.hero .left, .hero .right {
    width: 50%;
}
.hero .right {
    background-image: url('./img/IMAGE.png');
    background-size: cover;
}
.hero .name {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #645C55;
    margin-bottom: 20px;
}
.hero h1 {
    font-size: 64px;
    line-height: 70px;
    font-weight: 400;
    margin-bottom: 18px;
}
.hero p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 41px;
}
/* end hero */

/* firm */.firm {
    padding: 100px 0 128px;
    display: flex;
    justify-content: center;
}
.firm .content {
    width: 493px;
}
.firm .content p {
    margin-bottom: 10px;
}
.firm .content p .last {
    margin-bottom: 18px;
}
.firm .title {
    width: 267px;
    font-size: 32px;
}
/* end firm */
/* reeding-house */
.reeding-house  {
    height: 600px;
    background-image: url('./img/House.png');
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.reeding-house .parag {
    width: 285px;
    margin-right: 75px;
}
.reeding-house .parag h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #403e3b;
    letter-spacing: 2px;
}
.reeding-house .parag p {
    font-size: 16px;
    color: #645c55;
}
/* end reeding-house */

/* process */
.process {
    padding: 100px 178px 110px;
}
.process .name {
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

}
.process h2 {
    text-align: center;
    margin: 13px;
    margin-bottom: 47px;
    font-size: 39px;
}
.process .items {
    display: flex;
    justify-content: center;
}
.process .item {
    width: calc(100% / 1);
    margin-right: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.process .item:first-child {
    margin-left: 0;
}
.process .item h4 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
}
.process .item p {
    text-align: center;
    font-size: 15px;
    color: #645C55;
}
/* end process */

/*  Marble */
.Marble {
    height: 600px;
    background-image: url('./img/Marble.png');
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Marble .text {
    width: 286px;
    margin-right: 75px;
}
.Marble .text h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #403E3B;
    letter-spacing: 2px;
}
.Marble .text p {
    font-size: 16px;
    color: #645C55;
}
/* end  Marble */

/* customers */
.customers {
    background-color: #403E3B;
    color: #fff;
    display: flex;
}
.customers .text, .customers .logos {
    width: 50%;
}
.customers .text {
    padding: 135px;
}
.customers .text .name {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.customers .text h3 {
    font-size: 32px;
    margin-bottom: 14px;
}
.customers .text p {
    font-size: 15px;
    line-height: 24px;
}
.customers .logos {
    display: flex;
    flex-wrap: wrap;
    padding: 88px;
    align-items: center;
}
.customers .logo-box {
    width: 50%;
}
/* end customers */


/* swirling */
.swirling {
    height: 600px;
    background-image: url('./img/swirling.png');
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.swirling .parag {
    width: 286px;
    margin-left: 60px;
}
.swirling .parag h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #403E3B;
    letter-spacing: 2px;
}
.swirling .parag p {
    font-size: 16px;
    color: #645C55;
    line-height: 24px;
}
/* end swirling */
/* Featured */
.Featured {
    height: 918px;
    background: #F7F7F7;
}
.project {
    display: flex;
    flex-direction: column;
}
.project h3 {
    height: 42px;
    margin-top: 113px;
    font-size: 39px;
    margin-bottom: 15px;
    margin-left: 138px;
}
.project p {
    height: 60px;
    font-size: 24px;
    margin-top: 15px;
    margin-left: 138px;
    margin-bottom: 44px;
}
.photo {
   display: flex;
   flex-direction: row;
}
.photo .photo1 {
    width: 375px;
    height: 456px;
    background-image: url('./img/photo1.png');
    background-size: cover;
    margin-left: 138px;
    margin-right: 20px;
}
.photo .photo2 {
    width: 375px;
    height: 456px;
    background-image: url('./img/photo3.png');
    background-size: cover;
    margin-right: 17px;
}
.photo .photo3 {
    width: 375px;
    height: 456px;
    background-image: url('./img/photo2.png');
    background-size: cover;
}
.Featured .name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -409px;
    margin-left: -350px;
}
.Featured .name h4 {
    height: 20px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.Featured .name p {
    height: 30px;
    font-size: 23px;
    margin-top: -8px;
}
.Featured .btn1 {
    padding: 204px 45px;
    display: flex;
    justify-content: center;

}
.Featured .btn1 .primary-btn1 {
    height: 24px;
    font-size: 16px;
    margin-left: -270px;
    line-height: 24px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    padding: 0 20px;
    background-color: #1B1A1A;
    color: #fff;
}
.Featured .last-parag {
    text-align: center;
    margin-left: -270px;
    margin-top: -100px;
}
.Featured .last-parag p {
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
}
/* end Featured */

/* human */
.human {
    display: flex;
    align-items: center;
}
.human .puctures {
    width: 84px;
    height: 84px;
    background-size: cover;
    margin-right: 30px;
}
.human.stephen .puctures {
    background-image: url("./img/person.png.png");
}
.human.nolan .puctures {
    background-image: url('./img/nolan.png');
}
.human.ferris .puctures {
    background-image: url('./img/ferris.png');
}
.human.aria .puctures {
    background-image: url('./img/aria.png');
}
.human.niko .puctures {
    background-image: url('./img/niko.png');
}
/* end human */

/* team */
.team {
    display: flex;
    padding: 96px 136px 128px;
}
.team > .info {
    width: calc(100% / 3);
    padding-right: 37px;
}
.team > .info h3 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 400;
}
.team > .info p {
    margin-top: 14px;
    margin-bottom: 30px;
    color: #645C55;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}
.team .people {
    width: calc((100% / 3) * 2);
    display: flex;
    flex-wrap: wrap;
}
.team .people .human {
    width: 50%;
    margin: 28px 0;
}
/* end team */

/* project */
.project1 {
    height: 314px;
    display: flex;
    background-color: #CEC4BC;
    flex-direction: column;
}
.project1 .style h2 {
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
    padding: 100px 0 0 136px;
    margin-bottom: 8px;
}
.project1 .style h3 {
    height: 84px;
    font-size: 40px;
    line-height: 42px;
    color: #1B1A1A;
    padding: 13px 0 0 136px;
}
.project1 .style p {
    width: 60%;
    text-align: end;
    margin-left: 474px;
    height: 24px;
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: 400;
    margin-right: 156px;
    margin-top: -35px;
    color: #1B1A1A;
}
/* end project */

/* hero1 */
.hero1 {
    height: 204px;
    background-color: #F7F7F7;
    display: flex;
}
.hero1 .name {
    height: 22px;
    padding: 62px 0 0;
    margin-left: 136px;
    margin-bottom: 20px;
}
.hero1 h5 {
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
    padding: 104px 0 0;
    margin-left: -255px;
}
.hero1 p {
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
    padding: 124px 0 0;
    margin-left: -153px;
}
.hero1 section {
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: -82px;
    margin-top: 53.25px;
}
.hero1 section .logo-twitter {
    height: 19.5px;
    margin-right: 20px;
}
.hero1 section .logo-instagram {
    height: 24px;
    margin-right: 26.37px;
}
.hero1 section .logo-facebook {
    height: 24px;
}
/* end hero1 */